<!DOCTYPE HTML>
<meta charset="utf-8">

<html>
	<head>
		<title>Voting Web</title>
		<link href="../css/add-candidate.css" rel="stylesheet" type="text/css">
		
		<script language="javascript">
			function addRow(tableID){
				var table=document.getElementById(tableID);
				var rowLen=table.rows.length;
				var row=table.insertRow();
				if(rowLen>6){
					alert("후보는 6개까지 추가가능합니다.")
					return 0;
				}
				row.insertCell(0).innerHTML=rowLen;
				row.insertCell(1).innerHTML="<input type=text name=candidate-name>";
			}
			
			function delRow(tableID){
				var table=document.getElementById(tableID);
				var rowLen=table.rows.length-1;
				if(rowLen>0){
					table.deleteRow(rowLen);
				}
			}
			
			function completeButton(tableID){
				var table=document.getElementById(tableID);
				var rowLen=table.rows.length;
				
				if(rowLen>2){
					location.href="./admin-main.html";
				}
				else{
					alert("후보자는 2명이상 입력되야합니다.");
				}
			}
		</script>
	</head>
	
	<body>
		<div class="bar_box">
			<p><a href="./admin-main.html" ><img src="../img/vote.png" alt="투표 이미지" id="logo_img"></a></p>
			<ul id="main_menu">
				<li><a href="./admin-mypage.html" id="mypage"> 내 정보 수정</a></li>
				<li><a href="./admin-login.html" id="logout"> 로그아웃</a></li>
			</ul>
		</div>
		
		<div class="region_main">
			<center>
				<h2 id="table_name">후보 생성</h2>
				<div class="content-wrap">
					<table id="candidate-table"  border="1" align="center">
						<thead>
							<tr>
								<th align="center">번호</th>
								<th align="center">이름</th>
							</tr>
						</thead>						
					</table>
					<button type="button" class="candidate-button" onClick='addRow("candidate-table")'>후보 추가</button>
					<button type="button" class="candidate-button" onClick='delRow("candidate-table")'>후보 삭제</button><br/>
					<P><button type="submit" id="submit-button" onclick='completeButton("candidate-table")'>완료</button></P>		
					<!-- 2명이상의 후보를 추가해야만 넘어가게 설정하기-->
				</div>
			</center>
		</div>
	</body>
</html>