<!DOCTYPE HTML>

<html>
	<head>
		<meta charset="utf-8">
		<title>Voting Web</title>
		<link href="../css/login.css" rel="stylesheet" type="text/css" />
	</head>
	<body>
		<div class="content">
		<p align=center><a href="" ><img src="../img/vote.png" alt="투표 이미지" id="logo_img"></a></p>
			<div class="login_wrap">
				<form id="" name="" method="post" action="" class="form_login">
					<center>
						<fieldset>
							<h2 id="login_label">Voting Web</h2>
							
								<table  class="login_table">
									<tr>
										<td><input class="login_input" type="text" placeholder="아이디를 입력하세요"></td>
										<td rowspan="2"><a href="/admin-main"><button type="button" id="login_button">LOGIN</button></a></td>
										<!-- 현재는 무조건 버튼만누르면 main으로 넘어감. -->
									</tr>
									<tr>
										<td><input class="login_input" type="password" placeholder="비밀번호를 입력하세요" ></td>
									</tr>
								</table>
							
							<a href="/findpage" id="login_find">아이디 / 비밀번호 찾기</a>
							<a href="/register" id="register">회원가입</a>
						</fieldset>
					</center>
				</form>
			</div><!--//login_wrapper -->
        </div><!--//content -->
	</body>
</html>