<!DOCTYPE HTML>
<meta charset="utf-8">

<html>
	<head>
		<title>Voting Web</title>
		<link href="../css/vote-create.css" rel="stylesheet" type="text/css">
	</head>
	
	<body>
		<div class="bar_box">
			<p><a href="" ><img src="../img/vote.png" alt="투표 이미지" id="logo_img"></a></p>
			<ul id="main_menu">
				<li><a href="" id="mypage"> 내 정보 수정</a></li>
				<li><a href="" id="voted_list"> 완료된 투표 목록 </a>
				<li><a href="" id="logout"> 로그아웃</a></li>

			</ul>
		</div>
		
		<div class="region_main">
			<center>
				<h2 id="table_name">투표 생성</h2>
				<div class="content-wrap">
					<P class="label">제목</P>
					<P><input type="text" class="form-control" id="title" placeholder="제목 입력(4-100)"
						maxlength="100" required="required" pattern=".{4,100}"></P>
					<P class="label">내용</P>
					<P><textarea class="form-control" rows="5" id="content" placeholder="내용 작성"></textarea></P>
					<P class="label">기간</P>
					<p><select class="" name="year">
						<option value="">2018</optin>
						<option value="">2019</optin>
						<option value="">2020</optin>
						<option value="">2021</optin>
						<option value="">2022</optin>
						<option value="">2023</optin>
					</select>년					
					<select class="" name="month">
						<option value="">1</option>
						<option value="">2</option>
						<option value="">3</option>
						<option value="">4</option>
						<option value="">5</option>
						<option value="">6</option>
						<option value="">7</option>
						<option value="">8</option>
						<option value="">9</option>
						<option value="">10</option>
						<option value="">11</option>
						<option value="">12</option>
					</select>월
					<select class="" name="day">
						<option value="">1</option>
						<option value="">2</option>
						<option value="">3</option>
						<option value="">4</option>
						<option value="">5</option>
						<option value="">6</option>
						<option value="">7</option>
						<option value="">8</option>
						<option value="">9</option>
						<option value="">10</option>
						<option value="">11</option>
						<option value="">12</option>
						<option value="">13</option>
						<option value="">14</option>
						<option value="">15</option>
						<option value="">16</option>
						<option value="">17</option>
						<option value="">18</option>
						<option value="">19</option>
						<option value="">20</option>
						<option value="">21</option>
						<option value="">22</option>
						<option value="">23</option>
						<option value="">24</option>
						<option value="">25</option>
						<option value="">26</option>
						<option value="">27</option>
						<option value="">28</option>
						<option value="">29</option>
						<option value="">30</option>
						<option value="">31</option>
					</select>일
					~
					<select class="" name="year">
						<option value="">2018</optin>
						<option value="">2019</optin>
						<option value="">2020</optin>
						<option value="">2021</optin>
						<option value="">2022</optin>
						<option value="">2023</optin>
					</select>년	
					<select class="" name="month">
						<option value="">1</option>
						<option value="">2</option>
						<option value="">3</option>
						<option value="">4</option>
						<option value="">5</option>
						<option value="">6</option>
						<option value="">7</option>
						<option value="">8</option>
						<option value="">9</option>
						<option value="">10</option>
						<option value="">11</option>
						<option value="">12</option>
					</select>월
					<select class="" name="day">
						<option value="">1</option>
						<option value="">2</option>
						<option value="">3</option>
						<option value="">4</option>
						<option value="">5</option>
						<option value="">6</option>
						<option value="">7</option>
						<option value="">8</option>
						<option value="">9</option>
						<option value="">10</option>
						<option value="">11</option>
						<option value="">12</option>
						<option value="">13</option>
						<option value="">14</option>
						<option value="">15</option>
						<option value="">16</option>
						<option value="">17</option>
						<option value="">18</option>
						<option value="">19</option>
						<option value="">20</option>
						<option value="">21</option>
						<option value="">22</option>
						<option value="">23</option>
						<option value="">24</option>
						<option value="">25</option>
						<option value="">26</option>
						<option value="">27</option>
						<option value="">28</option>
						<option value="">29</option>
						<option value="">30</option>
						<option value="">31</option>
					</select>일</p>
					<P><button type="button" id="button">다음</button></P>			
				</div>
			</center>
		</div>
	</body>
</html>