<!DOCTYPE HTML>
<meta charset='utf-8'>

<html>
	<head>
		<title>Voting Web</title>
		<link href="../css/candidate.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		<div class="bar_box">
			<p><a href="/home" ><img src="../img/vote.png" alt="투표 이미지" id="logo_img"></a></p>
			<ul id="main_menu">
				<li><a href="/mypage" id="mypage"> 내 정보 수정</a></li>
				<li><a href="/ended_vote" id="voted_list"> 완료된 투표 목록 </a>
				<li><a href="/" id="logout"> 로그아웃</a></li>
			</ul>
		</div>
		<center>
		<div class="region_main">
			<div class="find-wrap">
			</div>
				<div class="content-wrap">
				<fieldset>					
					<h2> 후보 목록 </h2>
					<!-- 아래 후보목록을 DB에서 받아서 유동적으로 생성 -->
					<form id="candidate-form" action="/candidate" method = "post">
						<input type="radio" name="candidate" value= "1" required="required">A    
						<input type="radio" name="candidate" value= "2" required="required">B   
						<input type="radio" name="candidate" value= "3" required="required">C
						<input type="radio" name="candidate" value= "4" required="required">D   
						<p><button type="submit" name="vote-button" id = "vote"> 투표 </button></p>
					</form>
					<script src = "../../votingapp/controller/client.js"></script>					
				</fieldset>				
			</div>
		</div>
		</center>
	</body>
</html>
