<!DOCTYPE HTML>
<meta charset="utf-8">

<html>
	<head>
		<title>Voting Web</title>
		<link href="../css/main.css" rel="stylesheet" type="text/css">
	</head>
	
	<body>
		<div class="bar_box">
			<p><a href="./main.html" ><img src="../img/vote.png" alt="투표 이미지" id="logo_img"></a></p>
			<ul id="main_menu">
				<li><a href="./mypage.html" id="mypage"> 내 정보 수정</a></li>
				<li><a href="./ended_vote.html" id="voted_list"> 완료된 투표 목록 </a>
				<li><a href="./login.html" id="logout"> 로그아웃</a></li>
			</ul>
		</div>
		
		<div class="region_main">
			<div class="find-wrap">
			</div>
			<center>
				<h2 id="table_name">투표 목록</h2>
				<div class="content-wrap">
					<table border="2">
						<thead>
							<tr>
								<th>번호</th>
								<th>투표 이름</th>
								<th>시작 시간</th>
								<th>종료 시간</th>
								<th>투표 상태</th>
							</tr>
						</thead>
						<tbody>
							<!-- DB연동 -->
							<tr>
								<td>1</td>
								<td>
									<a class="vote_name" href="./candidate.html">지방 선거</a>
								</td>								
								<td>18.09.15</td>
								<td>18.09.28</td>
								<td>진행 중</td>
							</tr>
							<tr>
								<td>2</td>
								<td>
									<a class="vote_name" href="./candidate.html">부산대 총회</a>
								</td>
								<td>18.09.15</td>
								<td>18.09.28</td>
								<td>진행 중</td>
							</tr>							
						</tbody>
					</div>
				</table>
			</center>
		</div>
	</body>
</html>